<h1>TodoList</h1>
<div class = 'body'>
<app-item *ngFor = 'let item of arr.slice((page-1)*10,page*10)' [item] = "item" (removeItem) = 'removeItem($event)'></app-item>
    <form class = 'item_form'>
        <mat-form-field class="example-full-width" [ngStyle] = "{'width': '60%'}">
            <input matInput placeholder="add something" #input autofocus>
        </mat-form-field>
        <button  mat-raised-button color="primary" type = 'submit' (click) = 'addItem(input)'>Добавить</button>
    </form>
</div>
<div class="footer">
    <button (click) = 'move(-1)' mat-raised-button color="primary">Назад</button>
    <strong> {{page}} </strong>
    <button (click) = 'move(1)' mat-raised-button color="primary">Вперед</button>
</div>
